Source: exuberant-ctags
Section: editors
Priority: optional
Maintainer: Colin Watson <cjwatson@debian.org>
Standards-Version: 3.5.2

Package: exuberant-ctags
Architecture: any
Depends: ${shlibs:Depends}
Provides: ctags
Suggests: vim | nvi | elvis | vile | emacsen
Description: multi-language reimplementation of ctags
 ctags parses source code and produces a sort of index mapping
 the names of significant entities (e.g. functions, classes,
 variables) to the location where that entity is defined.  This
 index is used by editors like vi and emacsen to allow moving to
 the definition of a user-specified entity.
 .
 Exuberant Ctags supports all possible C language constructions
 and multiple other languages such as assembler, AWK, ASP, BETA,
 Bourne/Korn/Z shell, C++, COBOL, Eiffel, Fortran, Java, Lisp,
 Lua, Makefile, Pascal, Perl, PHP, Python, REXX, Ruby, S-Lang,
 Scheme, Tcl, Verilog, Vim and YACC.
