#! /usr/bin/make -f
%:
	dh $@ --with autoreconf --parallel

dtmp = debian/exuberant-ctags

export DEB_CFLAGS_MAINT_APPEND := -Wall $(shell dpkg-buildflags --get CPPFLAGS)

override_dh_auto_install:
# Install exuberant-ctags itself
	install -m 755 ctags $(dtmp)/usr/bin/ctags-exuberant
	install -p -m 644 ctags.1 $(dtmp)/usr/share/man/man1/ctags-exuberant.1

override_dh_installchangelogs:
	dh_installchangelogs NEWS

# git clones do not contain git-svn metadata.  This can be used to set it
# back up if you need it.
git-svn-setup:
	set -e; if [ -d .git ] && [ ! -d .git/svn ]; then \
		git config svn-remote.svn.url svn://svn.code.sf.net/p/ctags/code; \
		git config svn-remote.svn.fetch trunk:refs/remotes/svn/trunk; \
		git config svn-remote.svn.branches 'branches/*:refs/remotes/svn/*'; \
		git config svn-remote.svn.tags 'tags/*:refs/remotes/svn/tags/*'; \
		git update-ref refs/remotes/svn/trunk "$$(git log -n1 --grep git-svn-id: --format=%H)"; \
		git svn fetch; \
	fi
